/* --------- body style -------------*/

body {
    background-color: white;
    color: black;
    text-align: center;
}

/* --------- Common style -------------*/
.tableHeading{
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    background-color: rgb(223, 236, 245);
    border-top-color: rgb(223, 236, 245) ;
    border-right-color: rgb(223, 236, 245) ;
    border-left-color: rgb(223, 236, 245) ; 
 }

/* --------- Input Table Style-------*/
.taskPanel {
    background-color: rgb(223, 236, 245);
}
#overFlow{
    overflow-x:auto;  
}

th,td {
    border: 1px solid black;
  }

 table{
    width: 90%;
    border-collapse:collapse;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:white;
    border:1px solid black;
    padding:0;
 }
table th {
    text-align: center;
    font-size: 1.2rem;
    background-color:lightgrey;
    height:auto;
    width:auto;
}
.taskDescriptionBox {
    text-align: center;
    font-size: 15px;
    border-color:cornflowerblue;
    background-color: cornflowerblue;
    width:100%;
    margin:0;
    padding:0;
}
.taskDateBox {
    text-align: center;
    font-size: 15px;
    border-color: yellow;
    background-color:yellow;
    width:100%;
    margin:0;
    padding:0;
}
.sDate{
    background-color:yellow;  
}
.bctaskDuration {
    width:60px;
    background-color:lightgreen;

}
.mltaskDuration {
    width:60px;
    background-color:orange;
}
.wctaskDuration {
    width:60px;
    background-color:orangered;
}
.mltaskDurationBox {
    text-align: center;
    font-size: 15px;
    border-color:orange;
    background-color:orange;
    width:100%;
}
.bctaskDurationBox {
    text-align: center;
    font-size: 15px;
    border-color:lightgreen;
    background-color:lightgreen;
    width:100%;
}
.wctaskDurationBox {
    text-align: center;
    font-size: 15px;
    border-color:orangered;
    background-color:orangered;
    width:100%;
}
.bctaskDate {
    text-align: center;
    font-size: 15px;
    min-width:100px;
    background-color:lightgreen;
}
.mltaskDate {
    text-align: center;
    font-size: 15px;
    min-width:100px;
    background-color:orange;
}
.wctaskDate {
    text-align: center;
    font-size: 15px;
    min-width:100px;
    background-color:orangered;
}
.taskNo{
    text-align: center;
    font-size: 15px;
    min-width: 30px;
    background-color:thistle;
}
.taskNoBg{
    background-color:thistle;
}

.bCase{
    background-color:lightgreen;
}

.mlCase{
    background-color: orange;
}
.wCase{
    background-color:orangered;
}
.taskDes{
    background-color:cornflowerblue;
}
/* --------- Time Line & Probability Chart-------*/
#plot2,#plot1{
    height: 300px;
}
#plotPanel{
    display:none;
}
.tLine,.probPlot{
    background-color: rgb(223, 236, 245);
}

/* --------- Working Day Buttons------------*/
.workDayBt button{
    float: center;
    display: block;
    padding: 10px 10px;
    margin-top:5px;
    margin-left:25%;
    margin-right:15%;
    width:40%;
    min-width:110px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.ctr{
    float:center;
}
.blockbg{
    background-color: rgb(223, 236, 245);
}

.ctrHeading{
    float:center;
    text-align: center;
    font-size: 25px;
    display: block; 
}

/* --------- Header Style------------*/
.header{
    background-color:cornflowerblue;
    height:100px;
    width:100%;
    border:1px solid darkblue;
    margin: 15px;
    text-align:center;
}

.headerText{
    font-weight: bold; 
}

/* --------- Setup & Submit Style------------*/
.label{
    font-weight:normal;
}
#simulationStart,#restartPage{
    border:2px solid black;
    margin:20px;
    background-color:lightgray;
    color:white;
    text-align:center;
    width:auto;
    border-radius: 10px;
    min-width: 100px;
    height:40px;
    display: inline-block;
}

/*-----------Alert Modal------------*/
/* inspiration taken from https://www.w3schools.com/howto/howto_css_modals.asp */
.alertbox {
    padding: 20px;
    background-color:white;
    color: black;
    display:none;
    border-color: red;
    border-width:2px;
  }
  .alertModal {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 400px;
    padding-left:20px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(230, 139, 139, 0); /* Fallback color */
  } 
  .alert-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1.5px solid red;
    width: 80%;
    text-align: left;
  }
  .closeAlert {
    color:red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
  }
/*--------- Help Modal ---------*/
/* inspiration taken from https://www.w3schools.com/howto/howto_css_modals.asp */
.helpModal {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 80px;
    padding-left:20px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0); /* Fallback color */
  }

  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: left;
  }
  .closeX {
    color:mediumblue;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
  }

  
  