/* --------- body style -------------*/

body {
    background-color: white;
    color: black;
    text-align: center;
}
/* --------- Common style -------------*/
.tableHeading{
    text-align: center;
    font-size: 35px;
 }

/* --------- Input Table Style-------*/
.taskPanel {
    background-color:rgb(220, 235, 245);
}
#overFlow{
    overflow-x:auto;  
}

th,td {
    border: 1px solid black;
  }

 table{
    width: 500px;; 
    border-collapse:collapse;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:white;
    border:1px solid black;
    padding:0;
 }
 

table th {
    text-align: center;
    font-size: 1.2rem;
    background-color:lightgrey;
    height:auto;
    width:auto;
}
.taskDescriptionBox {
    text-align: center;
    font-size: 15px;
    border-color: white;
    background-color:white;
    width:200px;
    margin:0;
    padding:0;
}
.taskDateBox {
    text-align: center;
    font-size: 15px;
    border-color: black;
    background-color:yellow;
    width:150px;
    margin:0;
    padding:0;
}
.sDate{
    background-color:yellow;  
}
.taskDuration {
    width:60px;
    margin:0;
    padding:0;
}
.taskDurationBox {
    text-align: center;
    font-size: 15px;
    border-color:black;
    background-color:white;
    width:60px;
    margin:0;
    padding:0;
}
.taskDate {
    text-align: center;
    font-size: 15px;
    min-width:100px;
    padding:0;
    margin:0;
}

.taskNo{
    text-align: center;
    font-size: 1.1rem;
    width: 30px;
    background-color:thistle;
}
.bCase{
    background-color:lightgreen;
}
.mlCase{
    background-color: orange;
}
.wCase{
    background-color:orangered;
}
.taskDes{
    background-color:cornflowerblue;
}
/* --------- Time Line Chart Style-------*/
#plot2,#plot1{
    height: 300px;
}
#plotPanel{
    display:none;
}
.tLine{
    background-color: rgb(223, 236, 245);
}

/* --------- Working Day Buttons------------*/
.workDayBt button{
    display: block;
    padding: 10px 24px;
    margin:5px;
    width:50%;
}
.ctrHeading{
    float:left;
    text-align: center;
    font-size: 25px;
}

/* --------- Header Style------------*/
.header{
    background-color:cornflowerblue;
    height:100px;
    width:100%;
    border:1px solid darkblue;
    margin: 15px;
    text-align:center;
}

.headerText{
    font-weight: bold;
    
}

/* --------- Setup & Submit Style------------*/
.label{
    font-weight:normal;
}
#simulationStart,#restartPage{
    border:2px solid black;
    margin:20px;
    background-color:lightgray;
    color:white;
    text-align:center;
    width: 100px;
    height:40px;
    display: inline-block;
}

/* --------- Output Chart Style------*/

/* --------- Output Heading Style----*/

/*-----------Alert Window------------*/

.alertbox {
    padding: 20px;
    background-color:white;
    color: black;
    display:none;
    border-color: red;
    border-width:2px;
  }
  
